{% extends "base.html" %}

{% block js_code %}
<script src="http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU" type="text/javascript"></script>

  <script type="text/javascript">

    

        // Создает обработчик события window.onLoad
        $(function () {
            
    $("#active_choose_id").addClass("active");
});
      

/*
Широта: 54°9′17.56″N (54.154878)
Долгота: 48°5′37.22″E (48.093673)

Широта: 54°27′7.34″N (54.452039)
Долгота: 48°45′0.38″E (48.750106)

var bounds = new YMaps.GeoBounds(
    new YMaps.GeoPoint(54.154878, 48.093673),
    new YMaps.GeoPoint(54.452039, 48.750106));


*/
        // Создает обработчик события window.onLoad
function start_geo()
{
    var addr = $('#id_address').val();
    bounds = [[54.154878, 48.093673], [54.452039, 48.750106]];

    var geocoder = new ymaps.geocode(addr, {boundedBy : bounds, strictBounds: true});
    geocoder.then(
    function (res) {
    if (res.geoObjects.getLength()) {
        show_table(res.geoObjects.get(0));
    } else {
        alert("Ничего не найдено")
    }
}, 

function (err){
    alert("Произошла ошибка: " + err);
}

);
 
   
                    
                
  }


function show_table(home)
{

                var g = {{coord|safe}};
                var near = [];
                var radius = 1000;
                for (i in g)
                {
                    var geo_point = new ymaps.Placemark(
                        [g[i]["coord"][1], g[i]["coord"][0]]
                        );
                    var home_coord = home.geometry.getCoordinates();
                    var distance =  ymaps.coordSystem.geo.getDistance(geo_point.geometry.getCoordinates(), home_coord);
                    if (distance < radius)
                    {
                        g[i]["distance"] = Math.round(distance);
                        g[i]["geo_point"] = geo_point;
                        near.push(g[i]);
                    } 
                }
                
                near.sort(function(a,b)
                    {
                        return a['distance'] - b['distance'];
                        } );
         

         
                $('#table_div_id').empty();
                $('#ymap').empty();
        $('<table id="tbl" class="table table-striped table-bordered"></table>').appendTo('#table_div_id');


         $('#tbl').append("<thead><th>Детский сад</th><th>Расстояние в метрах</th></thead>");

        var map = new ymaps.Map("ymap", {center: home.geometry.getCoordinates(), zoom: 17});


        map.behaviors.enable('scrollZoom');
        home.options.set("preset",'twirl#redDotIcon');

        map.geoObjects.add(home);
        


         near.forEach(function(i)
         {
            var geo_point = i["geo_point"];
            geo_point.properties.set("balloonContentHeader", i["name"]);
            geo_point.properties.set("balloonContentBody", "Расстояние от дома: <strong>" + i["distance"]+ "</strong> метров");

            
            map.geoObjects.add(geo_point);
	    

            $("#tbl").append("<tr><td><a href=\"/kindergardens/" + i["g_id"] +"/\" >" + i["name"] + "</a></td><td> <span class='large'>" + i["distance"] +  "</span></td</tr>");
          }); 

         map.setBounds(map.geoObjects.getBounds());
        var myCircle = new ymaps.Circle([home.geometry.getCoordinates(), radius]);
        myCircle.options.set('fillOpacity', 0.1);
        map.geoObjects.add(myCircle);
         


}


    </script>
 
{% endblock js_code %}



{% block section %}
Выбор
{% endblock section %}

{% block content %}

<div class="hero-unit">
<p>Введите улицу и дом где вы живете и найдите ближайшие детские садики в радиусе 1 км</p>
    <form class="form-inline" onsubmit="return false;">
    <p><label for="id_address">Адрес:</label>
    <input id="id_address" type="text" name="address"  />
    <button type="submit" class="btn btn-primary" onclick="start_geo();">Найти</button> </p>
    </form>
</div>
    

    <div id="table_div_id">
    </div>
<div id="ymap" style="width:500px;height:300px">

    </div>

{% endblock content %}
   
