{% extends "base.html" %}
{% load markup %}
{% load comments %}

{% block js_code %}
    <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU" type="text/javascript"></script>
  <script type="text/javascript">

 
     // Создает обработчик события window.onLoad
    ymaps.ready(function () {

    var map = new ymaps.Map('YMapsID', { center: [{{ object.js_lat}}, {{ object.js_lng }}], zoom: 17 });
    map.behaviors.enable('scrollZoom');
    // Создает метку, значок которой не скрывается при открытии балуна
    var placemark = new ymaps.Placemark([{{ object.js_lat}}, {{ object.js_lng }}]);
    // Добавляет метку на карту
    map.geoObjects.add(placemark);
    });







    </script>
 
{% endblock js_code %}


{% block section %}
	Детали
{% endblock section %}

{% block content %}

	<h4>{{ object.name }}</h4>
	
		
	
	<strong>Адрес: </strong>{{ object.address }}<br />
	<strong>Телефон: </strong>{{object.telephone }}<br />
	<strong>Расположение на карте: </strong><br />
		<div id="YMapsID" style="width:300px;height:200px"></div>
	
	<h5>Статьи</h5>
	<ul class="large">
		{% for article in object.article_set.all %}
                <li>
                    <a href="/article/{{ article.id }}">{{ article.title }}</a>
                </li>
                {% empty %}
                    <li>Статей нет</li>    
                {% endfor %}
            </ul>
	<h5>Описание</h5>
	{{ object.rst_description|restructuredtext}}


<h5>Комментарии</h5>

    {% get_comment_count for object as comment_count %}
    {% if comment_count %}
        {% render_comment_list for object %}
    {% else %}
        Нет комментариев
    {% endif %}


    <h5>Оставить комментарий</h5>
    {% render_comment_form for object %}
	


{% endblock content %}
