{% extends "base.html" %}

{% block js_code %}
  <script type="text/javascript">

        // Создает обработчик события window.onLoad
        $(function () {
            
	$("#active_home_id").addClass("active");
});
        </script>

{% endblock js_code %}

{% block content %}






  
  <h1>Привет!</h1>
  <p>Сервис поможет выбрать ближайший детский садик</p>
  <p>
    <a class="btn btn-primary btn-large" href="/choose/">
      Выбрать
    </a>
  </p>







{% endblock content %}


